# Backend GraphQL API URL
GRAPHQL_URL=http://localhost:4000/graphql

# Drone serial (random if omitted at runtime)
DRONE_SERIAL=7777MYDRONE7

# Region code (Kyiv: UA-KY, Stockholm: SE-STO)
REGION_ID=UA-KY
